.container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: max-content;
  cursor: pointer;
  width: 100px;

  &:hover {
    .btn {
      gap: 8px;
    }
  }
}

.btn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.3s gap;
}

.btnLine {
  position: relative;
  width: 37.91px;
  height: 2px;
  background: rgb(47, 128, 237);
}

.text {
  position: absolute;
  font-weight: 600;
  font-size: 15px;
  color: var(--font-black);
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: 768px) {
    display: none;
  }
}
