.container {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 24px 49px;
  border-radius: 100px;
  background: rgb(47, 128, 237);
  color: white;
}
