.container {
  position: relative;
  color: var(--font-blue);
  text-transform: uppercase;
  width: max-content;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s font-size;
  overflow: hidden;
  // border: 2px solid orange;
  width: 140px;
  height: 40px;
}

.text {
  position: absolute;
  width: max-content;
  top: -3px;

  transition: 0.3s top;
}

.text_active {
  top: -37px;
}
