.container {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: 0.4s opacity;
  opacity: 0;
  background: white;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: start 0.4s;
}

.container_active {
  opacity: 1;
}

@keyframes start {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;

  @media screen and (max-width: 1769px) {
    gap: 41px;
  }

  @media screen and (max-width: 1281px) {
    gap: 45px;
  }

  @media screen and (max-width: 768px) {
    gap: 41px;
  }
}

.title {
  position: relative;
  width: max-content;
  font-weight: 400;
  font-size: 52px;
  color: black;
  margin-bottom: 80px;

  @media screen and (max-width: 1769px) {
    font-size: 40px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 1281px) {
    font-size: 28px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.info {
  font-weight: 400;
  position: relative;
  font-size: 14px;
  width: 395px;
  text-align: center;
  color: #808080;
  margin-top: 50px;
  margin-bottom: 30px;

  @media screen and (max-width: 1769px) {
    font-size: 12px;
    width: 335px;
  }

  @media screen and (max-width: 1281px) {
    font-size: 11px;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
